table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: auto;
}

th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
}

td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
}
.divs{

}
.div_left{

    float: left;
}
.div_right{
    overflow: hidden; /* Creates a new block format context, which will make this tag fill the remaining width */
    color: white;
    text-align: center;
}



.wrapper {
    margin-top: 10px;
}



